

@{
    ViewBag.Title = "BookLendRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>借閱紀錄</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>書名</th>
            <th>借閱人員編號</th>
            <th>借閱人</th>
            <th>借閱日期</th>
        </tr>
    </thead>
    <tbody>
        <div id="BookLendTable"></div>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        //Get BookID from url(get) + declaration
        var url = location.search;
        var BookId = parseInt(url.split('?')[1]);
        var Data = {};
        //GetBookLendRecord
        $.ajax({
            method: "post",
            url: "GetBookLendRecord",
            dataType: "Json",
            data: { "BookId": BookId }
        }).done(function (e) {
            
        });
    })
    
</script>

