
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:Microsoft JhengHei;">圖書維護</h2>

<table class="table table-bordered table-hover">
    <tr>
        <td>書名</td>
        <td>
            <input id="BookName" />
        </td>
    </tr>
    <tr>
        <td>圖書類別</td>
        <td>
            <select id="BookClass"></select>
        </td>
    </tr>
    <tr>
        <td>借閱人</td>
        <td>
            <select id="BookLendUser"></select>
        </td>
    </tr>
    <tr>
        <td>借閱狀態</td>
        <td>
            <select id="BookStatus"></select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="SearchBtn">查詢</button>
            <button id="ClearBtn">清除</button>
            <button id="InsertBtn">新增</button>
        </td>
    </tr>
</table>

<div id="book_grid"></div>

<script>
    $(document).ready(function () {
        $("#BookClass").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        dataType: "json",
                        url: "GetClass"
                    }
                }
            },
            index: 0
        });

        $("#BookLendUser").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        dataType: "json",
                        url: "GetUserName"
                    }
                }
            },
            index: 0
        });

        $("#BookStatus").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        dataType: "json",
                        url: "GetStatus"
                    }
                }
            },
            index: 0
        });
        
        $("#ClearBtn").click(function () {
            location = "/Library/Index";
        })

        $("#InsertBtn").click(function () {
            location = "/Library/InsertBook"
        })

        $("#SearchBtn").click(function () {
            var SearchData = {
                "BookName": $('#BookName').val(),
                "BookClassName": $('#BookClass').val(),
                "UserName": $('#BookLendUser').val(),
                "CodeName": $('#BookStatus').val()
            }

            $("#book_grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            method: "post",
                            dataType: "json",
                            url: "GetBookData",
                            data: SearchData
                        }
                    },
                    schema: {
                        model: {
                            fields: {
                                BookID: { type: "int" },
                                BookName: { type: "string" },
                                UserName: { type: "string" },
                                BookClassName: { type: "string" },
                                CodeName: { type: "string" },
                                CodeID: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20,
                },
                height: 550,
                sortable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "BookName", title: "書名", width: "40%" },
                    { field: "UserName", title: "借閱人", width: "20%" },
                    { field: "BookClassName", title: "圖書類別", width: "20%" },
                    { field: "CodeName", title: "借閱狀態", width: "10%" },
                    { command: { text: "借閱紀錄", click: BookLendRecord }, title: " ", width: "130px" },
                    { command: { text: "編輯", click: EditBook }, title: " ", width: "90px" },
                    { command: { text: "刪除", click: deleteBook }, title: " ", width: "90px" }
                ]
            });
        });

       
        

       
    });

    function deleteBook(option) {
        var grid = $("#book_grid").data("kendoGrid");
        var dataItem = grid.dataItem($(option.currentTarget).closest("tr"));

        if (confirm("確定刪除 " + dataItem.BookName + " ?")) {
            if (dataItem.CodeName == "已借出" || dataItem.BookClass == "不可借出") {
                alert("此書不可被刪除!");
            }
            else {
                $.ajax({
                    method: "post",
                    url: "DeleteBook",
                    dataType: "Json",
                    data: { "BookID": dataItem.BookID }
                })
                alert("刪除成功");
                $("#book_grid").data("kendoGrid").dataSource.read();                
            }          
        }
    };

    function EditBook(option) {
        var grid = $("#book_grid").data("kendoGrid");
        var dataItem = grid.dataItem($(option.currentTarget).closest("tr"));

        location = "EditBook?" + dataItem.BookID;
    }

    function BookLendRecord(option) {
        var grid = $("#book_grid").data("kendoGrid");
        var dataItem = grid.dataItem($(option.currentTarget).closest("tr"));

        location = "BookLendRecord?" + dataItem.BookID;
    }
</script>