
@{
    ViewBag.Title = "InsertBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:Microsoft JhengHei;">新增書籍</h2>

<table id="InsertTable"class="table table-bordered table-hover">
    <tr>
        <td style="text-align: right">書名</td>
        <td>
            <input name="BookName" id="BookName"  required validationMessage="bookname is not valid"/>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">作者</td>
        <td>
            <input name="BookAuthor" id="BookAuthor"  required validationMessage="bookauthor is not valid"/>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">出版商</td>
        <td>
            <input name="BookPublisher" id="BookPublisher"  required validationMessage="bookpublisher is not valid"/>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">內容簡介</td>
        <td>
            <textarea name="BookNote" cols="40" rows="5" id="BookNote"  required validationMessage="booknote is not valid"></textarea>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">購書日期</td>
        <td>
            <input name="BookBoughtDate" type="date" id="BookBoughtDate"  required validationMessage="bookboughtname is not valid"/>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">圖書類別</td>
        <td>
            <select name="BookClassName" id="BookClassName"  required validationMessage="bookclassname is not valid"></select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><button id="InsertBtn">儲存</button></td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        validator = $("#InsertTable").kendoValidator().data("kendoValidator");
        $("#BookClassName").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        dataType: "json",
                        url: "GetClass"
                    }
                }
            },
            index: 0
        });

        $("#InsertBtn").click(function () {
            if (validator.validate()) {
                var data = {
                    BookName: $("#BookName").val(),
                    BookAuthor: $("#BookAuthor").val(),
                    BookPublisher: $("#BookPublisher").val(),
                    BookNote: $("#BookNote").val(),
                    BookBoughtDate: $("#BookBoughtDate").val(),
                    BookClassID: $("#BookClassName").val(),
                }
                $.ajax({
                    method: "post",
                    url: "InsertBook",
                    dataType: "Json",
                    data: data
                })

                alert("新增成功");
                location = "Library/Index";
            }
            else {
                alert("資料尚未完成");
            }
        })

        $("#BookBoughtDate").kendoDatePicker({
            value: new Date(),
            format: "yyyy-MM-dd",
            dateInput: true
        });
    })
</script>